
    <a href="#" id="back_btn"><i class="fa-solid fa-circle-arrow-left"></i>Retour</a>
    
    <article class="card_product detail">

        <h2><%= data.label %></h2>
        
        <div class="ctn-left">
            <img src="/img/<%= data.url_img %>" alt="" />
        </div>

        <div class="ctn-right">
            <p><%= data.content %></p>            
            
            <div class="ctn-bottom_right">
                
                <p><b><%= data.price %>€</b></p>
                <p>Réf : <%= data.ref%></p>
            </div>
            <p class="card_seller">Vendeur : <i><%= data.seller %></i></p>
            <% if(data.qtyInStock < 10) { %>
                <p class="card_stock_msg">attention stock faible !</p>
            <% } %>
        </div>
        
    </article>


<script src="/event.js" type="text/javascript"></script>
